    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'CI','submenu':'Avisos'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script><script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Avisos</h3>
               {#<p class="text-muted m-b-30">{{ Avisos</p>#}
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th> <th>Nombre</th> <th>Autor</th> <th>Imagen</th> <th>Página</th> <th>Activo</th> <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for aviso in avisos %}
                    <tr>
                        <td>{{ i }}</td>    <td>{{ aviso.nombre }}</td> <td>{{ aviso.usuarios.user }}</td> <td><a href="{{ asset('uploads/avisos/'~aviso.imagen) }}" target="_blank">Ver Imagen <i class="fa fa-eye"></i></a></td> <td><a href="{{ path('aviso-pagina',{'slug':aviso.slug}) }}" target="_blank">Ver Página <i class="fa fa-eye"></i></a></td>  <td>{{ aviso.activo|sino }}</td> <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('avisos_show', { 'id': aviso.id }) }}" data-toggle="tooltip" title="Ver" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
                                        <a href="{{ path('avisos_edit', { 'id': aviso.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                    </tr>
                    {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
