{% extends '@Frontend/layout.html.twig' %}

{% block title %}{{ aviso.nombre|capitalize }} | {{ parent() }} {%  endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.min.js') }}"></script>
    {% if enviado==1 %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#frontend_bundle_comentario_type_comentario').val('');

                swal({
                    title: "Mensaje Enviado!",
                    text: "Gracias!<br>Pronto te responderemos.",
                    type: "success",
                    html:true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK!",
                    closeOnConfirm: true
                });

            });
        </script>
    {% elseif enviado ==2 %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#frontend_bundle_comentario_type_comentario').val('');

                swal({
                    title: "Error!",
                    text: "Este mensaje ya fue enviado. <br> Pronto responderemos.",
                    type: "error",
                    html:true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK!",
                    closeOnConfirm: true
                });

            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <style>
        #comentarios {
            overflow-y: scroll;
            height: 350px;
        }
        #comentarios .row{
            margin-left: 0px;
            margin-right: 0px;
        }
        .comment {
            border-bottom: 1px red solid;
        }
        .btn-change{
            line-height: 2;
            background: lightseagreen;
            margin: 20px;
            float: left;
            border:0px;
            color:#fff;
            box-shadow: 0 0 1px #ccc;
            -webkit-transition-duration: 0.2s;
            -webkit-transition-timing-function: linear;
            box-shadow:0px 0 0 #31708f  inset;
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }
        .btn-change:hover{
            box-shadow:0 0 0 25px #31708f  inset;
            -webkit-transform: scale(1);
            color: #fff;
        }
        .btn-change:focus{
            color: #fff;
        }
    </style>
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>{{ aviso.nombre }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-details-area pt-150 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-details">
                        <div class="blog-details-img">
                            <img src="{{ asset('uploads/avisos/'~aviso.imagen) }}" alt="blog-details">
                        </div>
                        <div class="blog-details-content">
                            <h2>{{ aviso.nombre }}</h2>
                            <h6>Por {{ aviso.usuarios.user }}  /  {{ aviso.createdAt|date('M d, Y') }}  /  <i class="fa fa-comments-o"></i> {{ num }}</h6>
                            {{ aviso.mensaje|raw }}
                        </div>
                        {% if archivos is not null %}
                            <div class="blog-details-content">
                                <h3>Archivos</h3>
                                <div class="row">
                                    {% for p in archivos %}
                                        <div class="col-sm-4">
                                            <a class="btn-change btn btn-block" target="_blank" href="{{ asset('uploads/archivos/'~p.pdf) }}">{{ p.nombre }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="reply-area">
                            <h3>Comentarios</h3>
                            <div id="comentarios">
                                {% for c in comentarios %}
                                    <div class="row comment">
                                        <div class="col-sm-2">
                                            <img src="{{ asset('assets/images/user.png') }}" class="img-responsive" style="width: 40px; height: 40px; margin-left: auto; margin-right: auto;"/>
                                        </div>
                                        <div class="col-sm-9">
                                            <h5>{{ c.usuarios.user }}</h5>
                                        </div>
                                        <div class="col-sm-12">
                                            <p>{{ c.comentario }}</p>
                                        </div>
                                        {% for r in respuestas %}
                                            {% if c.id == r.respuesta %}
                                                <div class="col-sm-2">
                                                    <img src="{{ asset('assets/images/logo.png') }}" class="img-responsive" style="width: 40px; height: 40px; margin-left: auto; margin-right: auto;"/>
                                                </div>
                                                <div class="col-sm-9">
                                                    <h5>{{ r.usuarios.user }}</h5>
                                                </div>
                                                <div class="col-sm-12">
                                                    <p>{{ r.comentario }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <h3>Deja un Comentario</h3>
                            <p>Nuestro equipo pronto responderá.</p>
                            {% if app.user is not null %}
                                {{ form_start(form,  {'action':path('aviso-pagina',{'slug':aviso.slug})}) }}
                                <div class="row">
                                    {#<div class="col-md-12">
                                        <p>Name</p>
                                        <input type="text" name="name" id="name">
                                    </div>
                                    <div class="col-md-12">
                                        <p>Email</p>
                                        <input type="text" name="email" id="email">
                                    </div>#}
                                    <div class="col-md-12">
                                        {#<p>Subject</p>
                                        <input type="text" name="subject" id="subject">#}
                                        <p>Mensaje</p>
                                        {{ form_widget(form.comentario, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.comentario.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.comentario.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ form_widget(form.comentar, {'attr': {'class ': 'reply-btn'} }) }}
                                {{ form_end(form) }}
                            {% else %}
                                <h4>Necesitas Ingresar para Comentar</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar right">
                        <div class="single-blog-widget mb-47">
                            <h3>últimos avisos</h3>
                            {% for post in avisos %}
                                {% if aviso.id != post.id %}
                                    <div class="single-post mb-30">
                                        <div class="single-post-img">
                                            <a href="{{ path('aviso-pagina',{'slug':post.slug}) }}"><img src="{{ asset('uploads/avisos/'~post.imagen) }}" alt="aviso" style="width: 95px;">
                                                <div class="blog-hover">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="single-post-content">
                                            <h4><a href="{{ path('aviso-pagina',{'slug':post.slug}) }}">{{ post.nombre }}</a></h4>
                                            <p>Por {{ post.usuarios.user }}  /  {{ post.createdAt|date('M d, Y') }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}