{% extends '@Frontend/layout.html.twig' %}

{% block title %}Avisos | {{ parent() }}{% endblock %}

{% block body %}
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Avisos</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                {% for a in avisos %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog mb-60">
                            <div class="blog-img">
                                <a href="{{ path('aviso-pagina',{'slug':a.slug}) }}"><img src="{{ asset('uploads/avisos/'~a.imagen) }}" alt="blog"></a>
                                <div class="blog-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>Por {{ a.usuarios.user }}  /  {{ a.createdAt|date('M d, Y') }}  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="{{ path('aviso-pagina',{'slug':a.slug}) }}">{{ a.nombre }}</a></h2>
                                    <a href="{{ path('aviso-pagina',{'slug':a.slug}) }}">leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagination">
                        {% if maxPages > 1 %}
                            <ul>
                                {%if thisPage > 1 %}
                                    <li >
                                        <a href="{{ path('avisos', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                                    </li>
                                {% endif %}
                                {% for i in 1..maxPages %}
                                    <li>
                                        <a href="{{ path('avisos', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                {%if thisPage < maxPages %}
                                    <li>
                                        <a href="{{ path('avisos', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}