{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}Inscripciones | {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.min.js') }}"></script>
    {% if enviado==1 %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#frontend_bundle_contacto_type_nombre').val('');
                $('#frontend_bundle_contacto_type_email').val('');
                $('#frontend_bundle_contacto_type_telefono').val('');
                $('#frontend_bundle_contacto_type_mensaje').val('');
                swal({
                    title: "Mensaje Enviado!",
                    text: "Gracias!<br>Pronto te contactaremos.",
                    type: "success",
                    html:true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK!",
                    closeOnConfirm: true
                });

            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Inscripciones</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="courses-details-area blog-area pt-150 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="courses-details">
                        <div class="courses-details-img">
                            <img src="{{ asset('assets/images/inscripciones.png') }}" alt="courses-details" class="img-responsive">
                        </div>
                        <div class="course-details-content">
                            <div class="course-details-right" style="width: 75%;">
                                <h3>Requisitos para Ingresar</h3>
                                <ol style="list-style: decimal">
                                    <li>Certificado Médico</li>
                                    <li>5 fotos tamaño infantil a color (con nombre atrás)</li>
                                    <li>Original y copia de carta de vacunación al corriente (IMPORTANTE incluir vacunas: de varicela, hepatitis a, OBLIGATORIAS Y SUGERIDAS, neumococo 13 valente y meningococo).</li>
                                    <li>Original y copia de acta de nacimiento</li>
                                    <li>Copia de la CURP</li>
                                    <li>Reporte de evaluación del ciclo escolar anterior (boleta) o certificado de educación preescolar.</li>
                                    <li>Fotos tamaño infantil a color (con nombre atrás) y copia de identificación de las personas que estén autorizadas para recoger al niño (en una sola hoja, 3 personas por alumno)</li>
                                    <li>Llenado de Ficha Psicopedagógica</li>
                                    <li>Firma del reglamento escolar</li>
                                    <li>Pago de inscripción</li>
                                </ol>
                                <br>
                                <h4>La documentación deberá de entregarse en una emisión y completa.</h4>
                            </div>
                        </div>
                        <div class="reply-area">
                            <h3>Escríbenos</h3>
                            <p>Mandanos un mensaje o comentario.<br>Con gusto te atenderemos.</p>
                            {{ form_start(form,  {'action':path('inscripciones')}) }}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_label(form.nombre) }}
                                        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.nombre.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.nombre.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.email.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.email.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_label(form.telefono) }}
                                        {{ form_widget(form.telefono, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.telefono.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.telefono.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_label(form.mensaje) }}
                                        {{ form_widget(form.mensaje, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.mensaje.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.mensaje.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ form_widget(form.enviar, {'attr': {'class ': 'default-btn'} }) }}
                                <p class="form-messege"></p>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar right">
                        <div class="single-blog-widget mb-50">
                            <div class="single-blog-banner">
                                <a href="#" id="blog"><img src="{{ asset('assets/images/us.png') }}" alt="blog"></a>
                                <h2>educación<br> continua</h2>
                            </div>
                        </div>
                        {% if app.user.tipo is defined %}
                            <div class="single-blog-widget mb-50">
                                <h3>avisos</h3>
                                {% for a in avisos %}
                                    <div class="single-post mb-30">
                                        <div class="single-post-img">
                                            <a href="{{ path('aviso-pagina',{'slug':a.slug}) }}"><img src="{{ asset('uploads/avisos/'~a.imagen) }}" alt="{{ a.nombre }}" style="width: 95px; height: auto;">
                                                <div class="blog-hover">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="single-post-content">
                                            <h4><a href="{{ path('aviso-pagina',{'slug':a.slug}) }}">{{ a.nombre }}</a></h4>
                                            <p>Por {{ a.usuarios.user }}  /  {{ a.createdAt|date('M d, Y') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}